main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.side-a{
    height: 700px;
    width: 100%;
    background: url('prova.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.side-b{
    height: 700px;
    width: 100%;
    background: url('prova.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    filter: grayscale(100%);
}
.gutter{
    cursor: w-resize;
}