main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.side_a{
    height: 700px;
    width: 100%;
    background-color: rgb(10, 6, 0);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.side_b{
    height: 700px;
    width: 100%;
    background-color: black;
    background-size: 100% 100%;
    background-attachment: fixed;
    filter: grayscale(100%);
}
.gutter{
    cursor: w-resize;
}
